body {
  margin: .5em;
  padding: 1;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}


.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 2.3fr 0.3fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  justify-content: stretch;
  align-items: stretch;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1.7fr 0.3fr;
  grid-template-rows: 0.1fr 3.2fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo logo ."
    "logo logo navigation"
    "logo logo switch";
  grid-area: 1 / 1 / 2 / 4;
}

.navigation { grid-area: navigation; 
}

.toggle{
  float: right;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
    justify-items: absolute; 
    position: relative;
    width: 70px;
    height: 70px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
    border-radius: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    transition: background 1s;
    overflow: hidden;
}

.toggle span{
    position: absolute;
    width: 15px;
    height: 4px;
    background: lime;
    border-radius: 4px;
  left: 15px;
    transition: 0.5s;
  animation: middle_loader 1.5s ease infinite;
}

.toggle span:nth-child(1){
    transform: translateY(-15px);
    width: 15px;
    left: 15px;
  animation: loader 1.6s ease infinite;
}

.toggle span:nth-child(2){
    transform: translateY(15px);
    width: 15px;
    left: 15px;
  animation: loader 1.6s ease infinite;
}

/*Styling the active class*/
.toggle.active{
    background-color: lime;
}

.toggle.active span{
    background: #ffff;
}

.toggle.active span:nth-child(1){
    width: 40px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
}

.toggle.active span:nth-child(2){
    width: 40px;
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.25s;
}

.toggle.active span:nth-child(3){
    transform: translateX(60px); 
}

#menuToggle {
	display: block;
	position: absolute;
	top: 50px;
	right: 50px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}

#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}

#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: lime;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
	position: absolute;
	width: 300px;
	margin: -100px 0 0 0;
	padding: 50px;
	padding-top: 125px;
	right: -100px;
	background: #F7F7F7;
  opacity: 50%;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
  transition: opacity .25s cubic-bezier(.5,.1,.9,.5);
	transform-origin: 0% 0%;
	transform: translate(100%, 0);

	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
	padding: 10px 0;
	font-size: 22px;
}

#menuToggle input:checked~ul {
	transform: scale(1.0, 1.0);
	opacity: 1;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: red;
}


/*Keyframes*/
@keyframes loader{
  50%{
    width: 40px;
  }
}

@keyframes middle_loader{
  75%{
    width: 40px;
  }
}

.switch { grid-area: switch; 
}
#switcher {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#switcher li {
  float: right;
  width: 10px;
  height: 10px;
  margin: 0 1px 1px 0;
  border-radius: 5px;
  border: 3px solid black;
}

#blackButton {
  background: #000000;
}
#whiteButton {
  background: #faf9f7;
}


.logo { grid-area: logo; 
}

h1{
  text-align: center;
  font-style: italic;
  font-size: 48px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-transform: uppercase;
  padding: 1;
}

p {
  font-family:'Anton';
  text-align: center;
  margin: 0.5em 0;
  padding: 1px;
}



.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    "ticker ticker ticker"
    ". . .";
  grid-area: 3 / 1 / 4 / 4;
}

.ticker { grid-area: ticker; 
}

marquee{
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
  padding: 5px;
  color: #4dc252;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Anton', sans-serif;
}

span{
  color: #F04524;
}

.center {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-area: 2 / 1 / 3 / 4;
}

.placeholder { grid-area: 2 / 2 / 3 / 4; 

}

.text-frame { grid-area: 2 / 1 / 3 / 2;
}

.buildings {
 opacity: 0;
 transition: opacity .25s cubic-bezier (cubic-bezier(0.075, 0.82, 0.165, 1))
}
h2{
  text-align: center;
  font-size: 24px;
  font-family: 'Anton', sans-serif; }

p{
font-family: 'Anton', sans-serif; }

html, body , .layout {
  height: 100%;
  margin: 0;
}
