
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

.html, body { 
    height: 100%;
}

.container {
    height: 100%;
    background-color: lemonchiffon;
}

.header {
    height: 20%;
    background-color: tomato;
}

.nav, footer {
    height: 10%;
    background-color: aquamarine;
}

.main { 
    height: 60%;
    background-color: blanchedalmond;
}

.aside {
    width: 20%;
    height: 100%;
    background-color: chartreuse;
    display: inline-block;
    float: left;
}

.section {
    width: 60%;
    height: 100%
    background-color: teal;
    display: inline-block;
    float: left;
}

