.container4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "image-1 image-5 image-3"
      "image-2 page4-logo image-4"
      "image-2 image-6 image-4";
  }
  
  .page4-logo { grid-area: page4-logo; }
  
  .image-1 { grid-area: image-1; }
  
  .image-2 { grid-area: image-2; }
  
  .image-4 { grid-area: image-4; }
  
  .image-3 { grid-area: image-3; }
  
  .image-5 { grid-area: image-5; }
  
  .image-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . ."
      ". arrow .";
    grid-area: image-6;
  }
  
  .arrow { grid-area: arrow; }
  
  
  html, body , .container4 {
    height: 100%;
    margin: 0;
  }
  