*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html, body{
  font-family: 'Ubuntu', sans-serif;
}

nav{
    height: 60px;
}

ul.container{
    display: flex;
    justify-content: space-around;
    
    list-style: none;
    background: rgb(42, 165, 89);
    line-height: 60px; }

.container a{
  text-decoration: none;
   color: white; 
}

.li{
  padding: 0 40px;
}

.li:hover{
  animation: changeMe 3s ease-in-out ;
}

@keyframes changeMe{
    0%{
      background-color: violet;
      transformr:scale(0.1);
      opacity: 1%;}
    50% {
      background-color: rgb(41, 119, 150);
      transform: scale(1.2);
      opacity: 0% }
    75% {
      background-color: rgb(6, 7, 87);
      transform: none; }
    100% {
      background-color: violet;
      transform: scale(1);
      opacity: 0%;}
