*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html, body{
  font-family: 'Ubuntu', sans-serif;
}

nav{
    height: 60px;
}

ul.container{
    display: flex;
    justify-content: space-around;
    
    list-style: none;
    background: rgb(42, 165, 89);
    margin:0;
    line-height: 60px; 
  }

.container a {
  text-decoration: none;
  color: white; 
}

.li{
  padding: 0 40px;
}

.li:hover {
  animation: colors 3s ease-in-out .2s;
}

@keyframes colors{
    0%{
      background-color: violet;
           }
    50% {
      background-color: rgb(41, 119, 150);
            }
    75% {
      background-color: rgb(6, 7, 87);
       }
    100% {
      background-color: violet;
          }
}
