@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

/* parent */

.row {
  display: flex;
  line-height: 1.68;
}

/* children */

.column {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.left {
  /*     background: tomato; */
  height: 300px;
}

.right {
  /*   font-size: 1.2em; */
  /*     background: green; */
}

h1 {
  font-family: "Libre Baskerville", serif;
  text-transform: capitalize;
  font-size: 3.68em;
  line-height: 1.4em;
}

.title {
  position: fixed;
  top: 10%;
}

.pullquote {
  color: white;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 1.68em;

  background-color: #735c94;
  display: flex;
  flex-direction: column;
  line-height: 2em;
  margin: 5px;
  padding: 5px;
}
