* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    font-family: 'Anton', sans-serif;
  }


section {
  width: 100;
}

  .container {
    height: 100%;
    width: 100%;
    font-family: monospace;
    font-size: 1.5em;
    font-style: bold;
}

.banner{
  text-align: center;
  width: 100%;
  margin: 0 0 3rem;
  background-color: #c4d6a4;
  padding: 1rem,0;
  height: 0%;
}

marquee{
  padding: 10px;
  color: #306959;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Anton', sans-serif;
}

span{
  color: #F04524;
}
  
.container {
  display: grid; 
  grid-template-columns: 1fr 300px 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 3px 5px; 
  grid-template-areas: 
    "window-2 logo window-3"
    "window-2 window window-3"
    "window-2 arrow window-3"; 
}
.window { grid-area: window; }
.window-2 {
  display: grid; 
  background-color: red;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-area: window-2; 
}
.left- { grid-area: 2 / 1 / 4 / 4; }
.bottom { grid-area: 3 / 1 / 4 / 4; }
.window-3 {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "right right right"
    "right right right"
    "right right right"; 
  grid-area: window-3; 
}
.right {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "top top top"
    "lower-right lower-right lower-right"
    "lower-right lower-right lower-right"; 
  grid-area: right; 
}
.lower-right {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."; 
  grid-area: lower-right; 
}
.top { grid-area: top; }
.arrow { grid-area: arrow; }
.logo { grid-area: logo; }


html, body {
  height: 100%;
  margin: 0;
}

.nav{
    height: 60px;
    }
  
ul.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  
  list-style: none;
  background: #9aad7c;
  margin: 0;
  line-height: 60px;
}


.container a {
  text-decoration: none;
  color: #F4F4F4;
 }

 li{
  padding:0 0px;
    }

 .li:hover{
  animation: changeMe 3s ease-in-out ;
}

h1 {
  line-height: 1.25;
  margin: 2em 0 0;
}
p {
  font-family:'Anton';
  margin: 0.5em 0;
}

#switcher {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#switcher li {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0 15px 15px 0;
  border-radius: 30px;
  border: 3px solid black;
}

/* button colors */

#grayButton {
  background-color: gray;
}

#whiteButton {
  background: white;
}

#blueButton {
  background: green;
}

#yellowButton {
  background: yellow;
}

/* background colors */

.gray-theme {
  background-color: grey;
}

.white-theme {
  background-color: white;
}

.yellow-theme {
  background-color: yellow;
}

.blue-theme {
  background-color: blue;
  /*   change text to white */
  color: white;
}

  .window_two {
    display: flex;
    height: 100%;
    background: #43248d;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .window_three {
    display: flex;
    height: 100%;
    background: #ce9aec;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

.banner{
}

marquee{
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
  padding: 10px;
  color: #306959;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Anton', sans-serif;
}

span{
  color: #F04524;
}
  
  .square {
    width: 300px;
    height: 300px;
    background: rgb(206, 125, 125);
    transform: scale(0.7);
  }

  .red {
    background: #cb7c9c;
  }
  .yellow {
    background: #83c5be;
  }

  .purple {
    background: #b0b0c3;
  }
  
  .square:hover {
    animation: lookOut;
    animation-duration: 6s;
    animation-timing-function: cubic-bezier(0.6, 0.87, 0.59, 0.46);
    animation-delay: 0s;
  }


h1{
  font-size: 48px;
  color: purple;
  font-family: 'Anton', sans-serif; 
}

p{
  font-size: 24px;
  font-family: 'Anton', sans-serif; 
}

  .span{
    color: black;
  }
  
  @keyframes lookOut {
    0% {
      transform: scale(0.7);
    }
    50% {
      transform: scale(4);
    }
  
    100% {
      transform: scale(2.5);
    }
  }

  
  .a {
    text-decoration: none;
    font-family: "roboto";
    color: #e6bbcf;
    font-size: 100px;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    right: 5%;
    transition: transform 0.3s ease-in-out;
  }
  
  section {
    width: 85%;
    height: 100%;
   }

  .grid {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(6, auto); 

    grid-gap: 5px;
    padding: 50px;
    background: #8d8d11;
}

.grid-item1 {
    border:1px dashed rgb(95, 67, 161);
    background-color: coral;
    grid-column: 4/7;
    grid-row: 1/4;
}

.grid-item2 {
  border:1px dashed rgb(167, 24, 24);
  background-color: cadetblue;
  grid-column: 5/7;
  grid-row: 1/4;


@keyframes colors {
  0% {
    background-color: rgb(135, 71, 255);
  }
  40% {
    background-color: #8100cc;
  }
  60% {
    background-color: #660080;
  }
  100% {
    background-color: rgb(209, 109, 223);
  }

}

}
