body {
    background-color: dimgray;
}


.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.item{
    margin: 5px;
    width: 100px;
    height: 100px;
    background-color: tomato;
    font-size: 42px;
  
  }