* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
  }
  
  nav{
    height: 60px;
    }
  
   ul.container{
    display: flex;
    justify-content:right;
    
    list-style: none;
    background: #d9d4e7;
    line-height: 60px;
   }


 li{
  padding:0 0px;
    }

 .li:hover{
  animation: changeMe 3s ease-in-out ;
}
  .window_two {
    display: flex;
    height: 100%;
    background: #006d77;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .window_three {
    display: flex;
    height: 100%;
    background: #ce9aec;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .square {
    width: 300px;
    height: 300px;
    background: white;
    transform: scale(0.7);
  }

  .red {
    background: #cb7c9c;
  }
  .blue {
    background: #83c5be;
  }

  .purple {
    background: purple;
  }
  
  .square:hover {
    animation: lookOut;
    animation-duration: 6s;
    animation-timing-function: cubic-bezier(0.6, 0.87, 0.59, 0.46);
    animation-delay: 0s;
  }
  
  .a {
    text-decoration: none;
    font-family: "roboto";
    color: #e6bbcf;
    font-size: 100px;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    right: 5%;
    transition: transform 0.3s ease-in-out;
  }
  
 .grid{
    display: grid;
    grid-template-columns: repeat(5);
 }
 
  .span {
    content: "\2190";
  }


  @keyframes lookOut {
    0% {
      transform: scale(0.7);
    }
    50% {
      transform: scale(4);
    }
  
    100% {
      transform: scale(2.5);
    }
  }
