body {
    font-family: "Open Sans", sans-serif;
  }
  
  .container {
    padding: 20px 40px;
    width: 50%;
    line-height: 1.68;
  }
  
  h1 {
    font-family: "Libre Baskerville", serif;
    text-transform: capitalize;
    font-size: 3.68em;
    line-height: 1.4em;
  }
  
  .pullquote {
    color: #d3d3d3;
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 1.68em;
  }