body {
  background-color: palevioletred;
    font-family: "Open Sans", sans-serif;
  }
  
  .container {
    padding: 20px 40px;
    width: 50%;
    line-height: 1.68;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  
  h1 {
    font-family: 'Bebas Neue', cursive;
    text-transform: capitalize;
    font-size: 3.68em;
    line-height: 1.4em;
  }
  
  .pullquote {
    color: #d3d3d3;
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 1.68em;
  }