*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html, body{
  font-family: 'Ubuntu', sans-serif;
}

nav{
    height: 60px;
}

.square {
    width: 200px;
    height: 200px;
    background: hotpink;
  }
  

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(1000px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .run-animation {
    animation: slide 8s;
    animation-iteration-count: 10;
  }